---
- name: Download NodeSource Setup Script
  get_url:
    url: "https://deb.nodesource.com/setup_{{ node_version }}"
    dest: /tmp/nodesource_setup.sh
    mode: '0755'

- name: Run NodeSource Setup Script
  command: /tmp/nodesource_setup.sh
  args:
    creates: /etc/apt/sources.list.d/nodesource.list

- name: Install Node.js
  apt:
    name: nodejs
    state: present
    update_cache: yes

- name: Install Yarn
  npm:
    name: yarn
    global: yes

- name: Install Frappe Bench CLI
  pip:
    name: frappe-bench
    executable: pip3
    extra_args: --break-system-packages

- name: Initialize Bench (Can take time)
  become_user: "{{ frappe_user }}"
  command: "bench init --frappe-branch {{ frappe_branch }} {{ bench_name }}"
  args:
    chdir: "/home/{{ frappe_user }}"
    creates: "/home/{{ frappe_user }}/{{ bench_name }}"

- name: Enable Developer Mode
  become_user: "{{ frappe_user }}"
  command: "bench set-config developer_mode 1"
  args:
    chdir: "/home/{{ frappe_user }}/{{ bench_name }}"

- name: Get Apps (Payments, ERPNext, HRMS)
  become_user: "{{ frappe_user }}"
  shell: |
    bench get-app payments &&
    bench get-app --branch {{ frappe_branch }} erpnext &&
    bench get-app --branch {{ frappe_branch }} hrms
  args:
    chdir: "/home/{{ frappe_user }}/{{ bench_name }}"
    creates: "/home/{{ frappe_user }}/{{ bench_name }}/apps/erpnext"

- name: Create New Site
  become_user: "{{ frappe_user }}"
  command: >
    bench new-site {{ site_name }}
    --admin-password {{ admin_password }}
    --db-root-password {{ db_root_password }}
    --install-app erpnext
  args:
    chdir: "/home/{{ frappe_user }}/{{ bench_name }}"
    creates: "/home/{{ frappe_user }}/{{ bench_name }}/sites/{{ site_name }}"

- name: Install HRMS on Site
  become_user: "{{ frappe_user }}"
  command: "bench --site {{ site_name }} install-app hrms"
  args:
    chdir: "/home/{{ frappe_user }}/{{ bench_name }}"
  ignore_errors: yes
